{% extends "eZPlatformUIBundle::pjax_admin.html.twig" %}

{% trans_default_domain "smileezuicampaign" %}

{% block title %}
{% endblock %}

{% block header_breadcrumbs %}
    {% set breadcrumb_items = [
        {link: path('smileezcampaign_campaign', {'tabItem': 'campaigns'}), label: 'Campaigns'|trans},
        {link: null, label: campaign.settings.title}
    ] %}
    {{ parent() }}
{% endblock %}

{% block header_title %}
    <h1 class="smileezuicampaign-status-title" data-icon="&#xe622;">
        {{ campaign.settings.title }} [{{ campaign.id }}]
    </h1>
{% endblock %}

{% block content %}
    <section class="ez-serverside-content">
        <section class="smileezuicampaign-view">
            <div class="smileezuicampaign-metadata">
                <div class="smileezuicampaign-metadata-name">{{ "campaign.list_name"|trans|desc("List name") }}</div>
                <div class="smileezuicampaign-metadata-value">
                    <a href="{{ path('smileezcampaign_list_view', {'campaignListID' : campaign.recipients.list_id}) }}">
                        {{ campaign.recipients.list_name }} [{{ campaign.recipients.list_id }}]
                    </a>
                </div>
            </div>
            <div class="smileezuicampaign-metadata">
                <div class="smileezuicampaign-metadata-name">{{ "campaign.subject_line"|trans|desc("Subject line") }}</div>
                <div class="smileezuicampaign-metadata-value">{{ campaign.settings.subject_line }}</div>
            </div>
            <div class="smileezuicampaign-metadata">
                <div class="smileezuicampaign-metadata-name">{{ "campaign.title"|trans|desc("Title") }}</div>
                <div class="smileezuicampaign-metadata-value">{{ campaign.settings.title }}</div>
            </div>
            <div class="smileezuicampaign-metadata">
                <div class="smileezuicampaign-metadata-name">{{ "campaign.from_name"|trans|desc("From name") }}</div>
                <div class="smileezuicampaign-metadata-value">{{ campaign.settings.from_name }}</div>
            </div>
            <div class="smileezuicampaign-metadata">
                <div class="smileezuicampaign-metadata-name">{{ "campaign.reply_to"|trans|desc("Reply to") }}</div>
                <div class="smileezuicampaign-metadata-value">{{ campaign.settings.reply_to }}</div>
            </div>
            <div class="smileezuicampaign-metadata">
                <div class="smileezuicampaign-metadata-name">{{ "campaign.folder"|trans|desc("Folder") }}</div>
                <div class="smileezuicampaign-metadata-value">{{ campaign.settings.folder_id }}</div>
            </div>

            <div class="ez-toolbar">
                    <a href="{{ path('smileezcampaign_campaign_edit', {'campaignID': campaign.id}) }}" class="pure-button ez-button" data-icon="&#xe606;">{{ 'campaign.edit'|trans|desc("Edit") }}</a>
            </div>
        </section>
    </section>
{% endblock %}
