
<table class="ezconf-list pure-table pure-table-striped">
    <thead>
    <tr>
        <th>{{ 'ID'|trans }}</th>
        <th>{{ 'Name'|trans }}</th>
        <th>{{ 'Date created'|trans }}</th>
        <th>{{ 'Member count'|trans }}</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>

    {% for list in params.lists.lists %}
        <tr>
            <td>{{ list.id }}</td>
            <td><a href="{{ path("smileezcampaign_list_view", {"id": list.id}) }}">{{ list.name }}</a></td>
            <td>{{ list.date_created }}</td>
            <td>{{ list.stats.member_count }}</td>
            <td></td>
            <td></td>
        </tr>
    {% endfor %}

    </tbody>
</table>

<p class="ez-table-data-buttons">
    <a href="{{ path('smileezcampaign_lists_new') }}" class="pure-button ez-button" data-icon="&#xe616;">{{ 'list.new'|trans }}</a>
</p>
